
Source/.vs/Automation/DesignTimeBuild/*
Source/.vs/Automation/*
**/bin/Debug/**
**/obj/Debug/**
Source/Automation.Knx/obj/**
Source/Automation.sln.DotSettings.user
Source/packages/**
Source/Automation.v3.ncrunchsolution.user
